.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.errorpagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}